* {
    /* select all elements */
    padding: 0;
    margin: 0;
    background-color: rgb(28, 213, 255);
    font-family: 'Rubik Iso', cursive;
}

#game {
    width: 500px;
    height: 250px;
    /* border: 1px solid black; */
    background-color: rgb(18, 206, 33);
    margin: auto;
    margin-top: 25px;
}

#character {
    width: 40px;
    height: 100px;
    background-image: url("/test-folder/stickman.png");
    background-color: rgb(18, 206, 33);
    background-size: cover;
    background-position: center;
    position: relative;
    top: 150px;
}

.animate {
    /* jump when called in JavaScript */
    animation: jump 1s;
}

@keyframes jump {
    /* 0% is starting position then moves to 50% at a higher position then back down to starting position at 100% */
    0%{top: 150px;}
    50%{top: 75px;}
    100%{top: 150px;}
}

#block { 
    width: 40px;
    height: 40px;
    background-color: rgb(18, 206, 33);
    background-image: url("../emojipoo.svg");
    background-size: cover;
    background-position: center;
    /* background-color: rgba(118, 77, 77, 0.183); */
    position: relative;
    top: 90px;
    left: 480px;
    animation: block 1s infinite linear; /* infinite to repeat, linear for smooth animation */
}

@keyframes block {
    /* move obstruction from left to right */
    0%{left: 480px;}
    100%{left:-40px;}
}

p, h1{
    width: 500px;
    margin: auto;
    text-align: center;
}

h1{
    padding-top: 75px;
}